{
  "*.{js,jsx,mjs,cjs,ts,tsx,mts,cts}": [
    "prettier --write",
    "eslint --fix"
  ],
  "*.{json,json5,md,mdx,css,scss,yml,yaml,html,graphql,gql}": "prettier --write",
  "*.prisma": "prisma format --schema"
}
